* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 249, 138);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    width: 60%;
    height: 100vh;
    margin: 0px auto;
    /* text-align: center; */
    background-color: white;
}

h2{
padding: 30px;
}

.container2 {
    display: flex;
    justify-content: space-evenly;

}

.form{
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
}

.books{
    margin-top: 20px;
}
.input{
    display: flex;
    justify-content: space-between;
    width: 25rem;
    height: 40px;
    padding: 12px;
    font-size: 16px;
    box-shadow: 0px 0px 5px gray;
    border: greenyellow;
    
}

.btn{
    font-family: sans-serif;
    width: 25rem;
    height: 40px;
    padding: 12px;
    font-size: 19px;
    box-shadow: 0px 0px 5px gray;
    color: rgb(56, 56, 56);
    background-color: rgb(18, 177, 18);
    border: greenyellow;
    cursor: pointer;
    transition: .3s ;
}

button i{
    margin-right: 15px;
    color: lightgreen;
}

.btn:hover{
background-color: white;
/* border: 1px solid lightgreen; */
}

.btn:active{
    background-color: rgb(223, 222, 222);
}

.left{
    /* display: none; */
    position: absolute;
}
.right{
    display: none;
    position: relative;
    width: 25rem;
    padding: 22px;
    font-family: sans-serif;
    font-size: 18px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.606),rgba(255, 174, 0, 0.76));
    box-shadow: 0 0 13px rgb(177, 177, 177);
    border-radius: 12px;
    z-index: 99999;
    animation: show .1s;
}

 tr{
    height: 42px;
}
.right i{
    position: absolute;
    right: 15px;
    padding: 3px 4px;
    color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

@keyframes show {
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 25rem;
        padding: 12px;
    }
}
.right i:hover{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px lightgray;
}

.right i:active{
    color: green;
    border: 1px solid green;
}

table{
    border-spacing: 19px;
}